@import "@/app/styles/colors.scss";

.backgroundColor{
  background-color: $primaryBlack;
  height: 100vh;
}

.buttonBack {
  color: $primaryWhite;
  padding: 25px;
  margin-bottom: 74px;
}

.button{
  border-radius: 10px;
  margin-bottom: 24px;
  width: 347px;
  height: 56px;
  font-weight: bold;
}

.title{
  color: $primaryWhite;
  font-size: 36px;
}