@import "@/app/styles/colors.scss";
@import "@/app/styles/variables.scss";

@mixin desktopTitle {
  @media(min-width: $desktopBreakpoint){
    font-size: 72px;
  }
}
.titlePrimary {
  color: $primaryBlue;
  font-size: 24px;
}
.title {
  @include desktopTitle;
  @extend .titlePrimary;
  font-weight: 400;
}

.bold{
  @include desktopTitle;
  @extend .titlePrimary;
  font-weight: 700;
}
