@import "@/app/styles/colors.scss";
@import "@/app/styles/variables.scss";

.buttonBack {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 25px;
  margin-bottom: 74px;

  @media (min-width: $desktopBreakpoint) {
    margin-bottom: 34px;
  }
}

.backButtonTitle {
  padding-left: 12px;
}

.buttonBackPrimary {
  @extend .buttonBack;
  color: $primaryWhite;
}

.buttonBackSecondary {
  @extend .buttonBack;
  color: $secondaryBlack;
}
