@import "../../styles/colors.scss";

.title {
  background-color: $primaryBlue;
  font-weight: 700;
  font-size: 72px;

  & .subtitle {
    font-weight: 400;
  }
}
.button{
  border: none;
  background-color: $primaryBlue;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  color: $primaryWhite;
  width: 189px;
  height: 56px;
}