@import "@/app/styles/colors.scss";

.backgroundPrimary{
  background-color: $primaryBlack;
  height: 100vh;
}
.backgroundSecondary{
  background-color: $primaryYellow;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonBack {
  cursor: pointer;
  padding: 25px;
  margin-bottom: 74px;
}

.buttonBackPrimary {
  @extend .buttonBack;
  color: $primaryWhite;
}

.buttonBackSecondary {
  @extend .buttonBack;
  color: $secondaryBlack;
}

.button{
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 347px;
  height: 56px;
  font-weight: bold;
}

.title{
  color: $primaryWhite;
  font-size: 36px;
}

.opacity {
  opacity: 0.5;
}

.fontColorPrimary{
  color: $secondaryBlack;
}

.fontColorSecondary{
  color: $primaryYellow;
}

.buttonSecondary {
  background-color: $secondaryBlack;
  color: $primaryWhite;
}