@import "@/app/styles/colors.scss";

.button{
  border: none;
  cursor: pointer;
  background-color: $primaryBlue;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  color: $primaryWhite;
  width: 189px;
  height: 56px;
}